In [1]:
import pandas as pd 
import statsmodels.api as sm

In [13]:
ak1991df = pd.read_excel('https://www.ssc.wisc.edu/~bhansen/econometrics/AK1991.xlsx')
ak1991df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329509 entries, 0 to 329508
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ageq     329509 non-null  float64
 1   edu      329509 non-null  int64
 2   logwage  329509 non-null  float64
 3   married  329509 non-null  int64
 4   state    329509 non-null  int64
 5   qob      329509 non-null  int64
 6   black    329509 non-null  int64
 7   smsa     329509 non-null  int64
 8   yob      329509 non-null  int64
 9   region   329509 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 25.1 MB

In [14]:
yob_region_dummies = pd.get_dummies(data = ak1991df[['yob', 'region']], columns= ['yob', 'region'])
yob_region_dummies.info()
ak1991df2 = pd.concat([ak1991df,  yob_region_dummies], axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329509 entries, 0 to 329508
Data columns (total 19 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   yob_1930  329509 non-null  uint8
 1   yob_1931  329509 non-null  uint8
 2   yob_1932  329509 non-null  uint8
 3   yob_1933  329509 non-null  uint8
 4   yob_1934  329509 non-null  uint8
 5   yob_1935  329509 non-null  uint8
 6   yob_1936  329509 non-null  uint8
 7   yob_1937  329509 non-null  uint8
 8   yob_1938  329509 non-null  uint8
 9   yob_1939  329509 non-null  uint8
 10  region_0  329509 non-null  uint8
 11  region_1  329509 non-null  uint8
 12  region_2  329509 non-null  uint8
 13  region_3  329509 non-null  uint8
 14  region_4  329509 non-null  uint8
 15  region_5  329509 non-null  uint8
 16  region_6  329509 non-null  uint8
 17  region_7  329509 non-null  uint8
 18  region_8  329509 non-null  uint8
dtypes: uint8(19)
memory usage: 6.0 MB

In [15]:
ak1991df = pd.concat([ak1991df,  yob_region_dummies], axis=1)
print(ak1991df.shape)
print(ak1991df.info())
ak1991df.head()

(329509, 29)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329509 entries, 0 to 329508
Data columns (total 29 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ageq      329509 non-null  float64
 1   edu       329509 non-null  int64
 2   logwage   329509 non-null  float64
 3   married   329509 non-null  int64
 4   state     329509 non-null  int64
 5   qob       329509 non-null  int64
 6   black     329509 non-null  int64
 7   smsa      329509 non-null  int64
 8   yob       329509 non-null  int64
 9   region    329509 non-null  int64
 10  yob_1930  329509 non-null  uint8
 11  yob_1931  329509 non-null  uint8
 12  yob_1932  329509 non-null  uint8
 13  yob_1933  329509 non-null  uint8
 14  yob_1934  329509 non-null  uint8
 15  yob_1935  329509 non-null  uint8
 16  yob_1936  329509 non-null  uint8
 17  yob_1937  329509 non-null  uint8
 18  yob_1938  329509 non-null  uint8
 19  yob_1939  329509 non-null  uint8
 20  region_0  329509 non-null  uint8
 21  region_1  329509 non-null  uint8
 22  region_2  329509 non-null  uint8
 23  region_3  329509 non-null  uint8
 24  region_4  329509 non-null  uint8
 25  region_5  329509 non-null  uint8
 26  region_6  329509 non-null  uint8
 27  region_7  329509 non-null  uint8
 28  region_8  329509 non-null  uint8
dtypes: float64(2), int64(8), uint8(19)
memory usage: 31.1 MB
None

,ageq,edu,logwage,married,state,qob,black,smsa,yob,region,...,yob_1939,region_0,region_1,region_2,region_3,region_4,region_5,region_6,region_7,region_8
0,47.00,12,6.245846,1,1,1,1,1,1933,0,...,0,1,0,0,0,0,0,0,0,0
1,46.25,12,5.847161,1,48,4,1,1,1933,0,...,0,1,0,0,0,0,0,0,0,0
2,50.00,12,6.645516,1,2,1,1,1,1930,0,...,0,1,0,0,0,0,0,0,0,0
3,47.00,16,6.706133,1,22,1,1,1,1933,0,...,0,1,0,0,0,0,0,0,0,0
4,42.25,14,6.357876,1,42,4,1,1,1937,0,...,0,1,0,0,0,0,0,0,0,0

In [20]:
Y = ak1991df['logwage']
X = ak1991df[['edu', 'black', 'smsa', 'married', 'region_1', 'region_2', 'region_3', 'region_4', 'region_5',
'region_6', 'region_7', 'region_8', 'yob_1931', 'yob_1932', 'yob_1933', 'yob_1934', 'yob_1935', 'yob_1936',
'yob_1937', 'yob_1938', 'yob_1939']]

In [21]:
import statsmodels.api as sm
model = sm.OLS(Y, sm.add_constant(X))
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logwage   R-squared:                       0.165
Model:                            OLS   Adj. R-squared:                  0.165
Method:                 Least Squares   F-statistic:                     3101.
Date:                Wed, 02 Mar 2022   Prob (F-statistic):               0.00
Time:                        11:49:36   Log-Likelihood:            -3.1019e+05
No. Observations:              329509   AIC:                         6.204e+05
Df Residuals:                  329487   BIC:                         6.207e+05
Df Model:                          21
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.8401      0.007    675.204      0.000       4.826       4.854
edu            0.0632      0.000    186.421      0.000       0.063       0.064
black         -0.2575      0.004    -63.711      0.000      -0.265      -0.250
smsa           0.1763      0.003     61.526      0.000       0.171       0.182
married        0.2479      0.003     78.276      0.000       0.242       0.254
region_1       0.0160      0.004      4.054      0.000       0.008       0.024
region_2      -0.1644      0.005    -30.876      0.000      -0.175      -0.154
region_3      -0.0528      0.004    -12.869      0.000      -0.061      -0.045
region_4      -0.0921      0.006    -15.907      0.000      -0.103      -0.081
region_5      -0.1134      0.006    -20.570      0.000      -0.124      -0.103
region_6      -0.1393      0.004    -33.949      0.000      -0.147      -0.131
region_7      -0.1078      0.005    -21.537      0.000      -0.118      -0.098
region_8      -0.1032      0.005    -22.093      0.000      -0.112      -0.094
yob_1931      -0.0040      0.005     -0.825      0.409      -0.014       0.006
yob_1932      -0.0085      0.005     -1.749      0.080      -0.018       0.001
yob_1933      -0.0083      0.005     -1.704      0.088      -0.018       0.001
yob_1934      -0.0112      0.005     -2.300      0.021      -0.021      -0.002
yob_1935      -0.0208      0.005     -4.321      0.000      -0.030      -0.011
yob_1936      -0.0204      0.005     -4.228      0.000      -0.030      -0.011
yob_1937      -0.0230      0.005     -4.823      0.000      -0.032      -0.014
yob_1938      -0.0222      0.005     -4.681      0.000      -0.031      -0.013
yob_1939      -0.0306      0.005     -6.494      0.000      -0.040      -0.021
==============================================================================
Omnibus:                   197025.065   Durbin-Watson:                   1.876
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4788293.257
Skew:                          -2.439   Prob(JB):                         0.00
Kurtosis:                      21.027   Cond. No.                         142.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.